NEXT_PUBLIC_FIREBASE_API_KEY=replace_me
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=launch-auth-54e1a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=launch-auth-54e1a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=launch-auth-54e1a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=replace_me
NEXT_PUBLIC_FIREBASE_APP_ID=replace_me
